<footer class="shop__footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="#" class="footer-logo">
        <div class ="footer-logo__circle logo__element">
        </div>
        <div class="footer-logo__company-name logo__element footer__logo-txt">
          simple
        </div>
        <div class="footer-logo__rectangle logo__element">
        </div>
        <div class="footer-logo__circle logo__element">
        </div>
      </a>
      <div class="footer__social-buttons">
        <a href="#" class="footer__social-button">
          <div class="footer__social-img">
            <img src="assets/img/footer/footer1.png" alt="soc_media">
          </div>
        </a>
        <a href="#" class="footer__social-button">
          <div class="footer__social-img">
            <img src="assets/img/footer/footer2.png" alt="soc_media">
          </div>
        </a>
        <a href="#" class="footer__social-button">
          <div class="footer__social-img">
            <img src="assets/img/footer/footer3.png" alt="soc_media">
          </div>
        </a>
        <a href="#" class="footer__social-button">
          <div class="footer__social-img">
            <img src="assets/img/footer/footer4.png" alt="soc_media">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="simple__trade-mark">
    <a>SIMPLE <a class="trade-mark">®</a> 2021</a>
  </div>
</footer>
