<div class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <a href="#" class="partner__first partner__img-mods">
        <img src="assets/img/partners/firstpartner.png" alt="partner">
      </a>
      <a href="#" class="partner__second partner__img-mods">
        <img src="assets/img/partners/secpartner.png" alt="partner">
      </a>
      <a href="#" class="partner__third partner__img-mods">
        <img src="assets/img/partners/thirdpartner.png" alt="partner">
      </a>
      <a href="#" class="partner__fourth partner__img-mods">
        <img src="assets/img/partners/fourthpartner.png" alt="partner">
      </a>
    </div>
  </div>
</div>
