<div class="learn-more__cards">
  <div class="container">
    <div class="learn-more__cards-wrapper">
      <div class="learn-more__card" *ngFor="let card of cards">
        <div class="card__img">
          <img src="assets/img/card/card{{card.number}}.png" alt="bombaga">
        </div>
        <h2>{{card.title}}</h2>
        <h6 class="card__tiraje">{{card.tiraje}}</h6>
        <p class ="card__txt">{{card.content}}</p>
        <a href="#" class="card__referal">Подробнее  →</a>
      </div>
    </div>
  </div>
</div>
