<div class="learn-more__cards">
  <div class="container">
    <input type="button" (click)="sartir()">СОРТИРОВАТЬ
    <div class="learn-more__cards-wrapper">
      <div class="learn-more__card" *ngFor="let product of (products$ | async)">
        <div class="card__txt-title">
          <h3>{{product.title}}</h3>
        </div>
        <div class="card__txt">
          {{product.description}}
        </div>
        <div class =card__img-wrapper>
        <div class="card__img">
        <img src="{{product.image}}">
        </div>
        </div>
        <button (click)="addTocart(product)">В КОРЗИНУ!</button>
        </div>
      </div>
      </div>
    </div>



