<div class="shop__hero">
  <div class="container">
    <div class="shop__hero-wrapper">
      <div class="hero__text-block">
        <h1 class="hero__h1-block">Простые вещи. Из бумаги</h1>
        <p class="hero__p-block">Бума́га (предположительно от итал. bombagia, первоисточником же считается иранский) —
          волокнистый материал с минеральными добавками. </p>
        <app-catalog></app-catalog>
      </div>
      <div class="hero__img-block">
        <img src="assets/img/hero/paper.png" alt="paper">
      </div>
    </div>
  </div>
</div>
