.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

img {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.shop__hero {
  width: 100%;
}

.shop__hero-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text-block {
  max-width: 361px;
  width: 100%;
  height: 300px;
  margin-right: 30px;
}

.hero__h1-block {
  color: #4C5866;
  font-size: 45px;
}

.hero__p-block {
  color: #85859B;
  font-size: 16px;
}

.hero__button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 70px;
  border: 1px solid #7875FE;
  color: #7875FE;
  transition: color .2s ease;
}

.hero__button-block:hover{
  color: white;
  background-color: #4a99d3;
}

.hero-img__wrapper{
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero__img-block {
  height: 100%;
  width: 100%;
  max-width: 540px;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 700px;
  }

  .hero__h1-block {
    color: #4C5866;
    font-size: 25px;
  }

  .hero__p-block {
    color: #85859B;
    font-size: 8px;
  }

  .hero__text-block {
    padding-top: 90px;
    max-width: 221px;
    width: 100%;
    margin-right: 30px;
  }

  .hero__img-block {
    max-height: 200px;
  }
  .hero-img__wrapper{
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .shop__hero-wrapper{
    height: 200px;
  }

}


