
.container {
  width: 1400px;
  margin: 0 auto;
}

.header__line {
  border-bottom: 1px solid #323230;
  min-width: 1400px;
}

.header__line-wrapper {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center ;
  margin-right: 270px;
  font-family: 'unbuntu', sans-serif;
  font-size: 20px;
}

.logo__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #323230;
}

.logo__rectangle {
  width: 18px;
  height: 10px;
  border-radius: 15px;
  border: 1px solid #323230;
}

.logo__element {
  margin-right: 3px;
}

.header__nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-button {
  margin-right: 30px;
  white-space: nowrap;
}

.header__nav-search-login {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.search {
  display: flex;
  background: #ffffff;
  height: 30px;
  border-radius: 30px;
  padding: 10px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  color: #ffffff;
}

.header__search {
  border: none;
  border-bottom: 1px solid #020204 ;
  background: none;
  outline: none;
  padding: 0;
  color: #020204;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0;
  font-weight: bold;
}

.search:hover .header__search {
  width: 240px;
  padding: 0 6px;
}

.header__search-login {
  margin-right: 20px;
}

.header__search-login:last-child {
  margin-right: 0;
}

.shop__hero {
  padding-top: 60px;
}

.shop__hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text-block {
  min-width: 361px;
  max-width: 361px;
  height: 445px;
}

.hero__h1-block {
  color: #4C5866;
  font-size: 45px;
}

.hero__p-block {
  color: #85859B;
  font-size: 16px;
}

.hero__button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 70px;
  border: 1px solid #7875FE;
  color: #7875FE;
  transition: color .2s ease;
}

.hero__button-block:hover{
  color: white;
  background-color: #4a99d3;
}

.hero__img-block {
  height: 560px;
  width: 540px;
}

.shop__results {
  display: flex;
  background-color: #FFFFE0;
  min-width: 1300px;
}

.shop__results-versions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.shop__results-v1 {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #020204;
  min-width: 300px;
}

.shop__results-v2 {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #020204;
  min-width: 300px;
}

.shop__results-v3 {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #020204;
  min-width: 300px;
}

.shop__results-block {
  margin-right: 60px;
}

.shop__results-txt-mods {
  min-width: 140px;
  max-width: 140px;
}

.shop__results-h2 {
  color: #666666
}

.shop__results-block:last-child {
  margin-right: 0;
}

.shop__results-finale {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.shop__results-finale-txt {
  max-width: 250px;
  min-width: 250px;
}

.shop__results-finale-h2 {
  color: #666666
}

.learn-more__cards {
  min-width: 1300px;
  height: 645px;
  display: flex;
  align-items: center;
}

.learn-more__cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.learn-more__card {
  height: 465px;
  width: 255px;
  line-height: 25px;
}

.card__txt {
  font-size: 18px;
}

.card__tiraje {
  color: #B5B5BD;
  line-height: 10px;
}

.card__img{
  height: 180px;
  width: 255px;
}

.card__referal {
  color: #4a99d3;
}

.partners {
  display: flex;
  background-color: #FFFFE0;
  height: 400px;
  min-width: 1300px;
  align-items: center;
}

.partners__wrapper {
  display: flex;
  justify-content: space-between;
}

.partner__img-mods {
  min-width: 270px;
  min-height: 120px;
  max-width: 270px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #020204;
  margin-right: 30px;
}

.partner__img-mods:last-child{
  margin-right: 0;
}

.shop__sketch {
  padding-top: 60px;
}

.shop__sketch-wrapper {
  display: flex;
  align-items: center;
}

.sketch__text-block {
  min-width: 300px;
  max-width: 300px;
  height: 445px;
}

.sketch__h1-block {
  width: 400px;
  color: #4C5866;
  font-size: 35px;
}

.sketch__p-block {
  color: #85859B;
  font-size: 16px;
}

.sketch__text-block-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 70px;
  border: 1px solid #7875FE;
  color: #7875FE;
  transition: color .2s ease;
}

.sketch__text-block-button:hover{
  color: white;
  background-color: #4a99d3;
}

.sketch__img-block {
  margin-left: 100px;
  height: 375px;
  width: 540px;
}

.shop__footer{
  background-color: #4C5866;
}
.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center ;
  margin-right: 270px;
  font-family: 'unbuntu', sans-serif;
  font-size: 20px;
}

.footer-logo__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.footer-logo__rectangle {
  width: 18px;
  height: 10px;
  border-radius: 15px;
  border: 1px solid #ffffff;
}

.footer-logo__element {
  margin-right: 3px ;
}

.footer__logo-txt {
  color: #ffffff;
}

.footer__social-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.footer__wrapper {
  min-height: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer__social-button {
  margin-right: 20px;
}

.simple__trade-mark {
  display: flex;
  justify-content: center;
  background-color: #FFFFE0;
}

.trade-mark {
  color: #BCBCBC;
}

@media (min-height:3000px) {
  .shop__sketch {
    display: flex;
    align-items: flex-end;
    height: 16.1%;
  }
  .learn-more__cards {
    height: 23.1%;
  }
  .partners {
    height: 15.2%;
  }
}
