<header>
  <div class="header__line">
    <div class="container">
      <div class="header__line-wrapper">
        <a href="http://localhost:4200/" class="logo">
          <div class ="logo__circle logo__element">
          </div>
          <div class="logo__company-name logo__element">
            simple
          </div>
          <div class="logo__rectangle logo__element">
          </div>
          <div class="logo__circle logo__element">
          </div>
        </a>

        <div class="header__nav-buttons">
          <a href="#" class="header__nav-button"> Продукция </a>
          <a href="#" class="header__nav-button"> Материалы </a>
          <a href="#" class="header__nav-button"> О нас </a>
          <a href="#" class="header__nav-button"> Контакты </a>
          <div class="header__nav-search-login">
            <div class="search header__search-login">
              <a class="search-btn">
                <img src="assets/img/header-nav/search.png">
              </a>
              <input type="text" class="header__search" placeholder="Search...">
            </div>
            <a href="#" class="header__nav-login header__search-login">
              <img src="assets/img/header-nav/log_in.png" alt="login">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="shop__hero">
  <div class="container">
    <div class="shop__hero-wrapper">
      <div class="hero__text-block">
        <h1 class="hero__h1-block">Простые вещи. Из бумаги</h1>
        <p class="hero__p-block">Бума́га (предположительно от итал. bombagia, первоисточником же считается иранский) —
          волокнистый материал с минеральными добавками. </p>
          <a href="#" class="hero__button-block">Каталог</a>
      </div>
      <div class="hero__img-block">
        <img src="assets/img/hero/paper.png" alt="paper">
      </div>
    </div>
  </div>
</div>
<div class="shop__results">
  <div class="container">
    <div class="shop__results-versions">
      <div class="shop__results-v1 shop__results-block">
        <div class="shop__results-v1-img">
          <img src="assets/img/results/resultv1.png">
        </div>
        <div class="shop__results-v1-txt shop__results-txt-mods">
          <h3 class="shop__results-h2">V.1</h3>
          <p class="shop__results-p">Результат вашего обучения</p>
        </div>
      </div>
      <div class="shop__results-v2 shop__results-block">
        <div class="shop__results-v2-img">
          <img src="assets/img/results/resultv2.png">
        </div>
        <div class="shop__results-v2-txt shop__results-txt-mods">
          <h3 class="shop__results-h2">V.2</h3>
          <p class="shop__results-p">Результат вашего обучения</p>
        </div>
      </div>
      <div class="shop__results-v3 shop__results-block">
        <div class="shop__results-v3-img">
          <img src="assets/img/results/resultv3.png">
        </div>
        <div class="shop__results-v3-txt shop__results-txt-mods">
          <h3 class="shop__results-h2">V.3</h3>
          <p class="shop__results-p">Результат вашего обучения</p>
        </div>
      </div>
    </div>
    <div class="shop__results-finale">
      <div class="shop__results-finale-img">
        <img src="assets/img/results/resultfinale.png">
      </div>
      <div class="shop__results-finale-txt">
        <h2 class="shop__results-finale-h2">Максимальная белизна</h2>
        <p class="shop__results-finale-p">Для повышения белизны, гладкости
          и мягкости в состав бумажной массы вводят белые минеральные вещества:
          мел, тальк, каолин и др. Эта операция называется наполнением.
        </p>
        <p class="shop__results-finale-p">Отлив бумажного листа осуществляют на бумагоделательной машине, важнейшей частью которой
          является непрерывно движущаяся (как транспортер) металлическая или капроновая сетка.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="learn-more__cards">
  <div class="container">
    <div class="learn-more__cards-wrapper">
     <div class="learn-more__card" *ngFor="let item of card1">
      <div class="card__img">
        <img src="assets/img/card/card{{item}}.png">
       </div>
       <h2>{{titles[item]}}</h2>
       <h6 class="card__tiraje">{{tiraje[item]}}</h6>
       <p class ="card__txt">{{content[item]}}</p>
       <a href="#" class="card__referal">Подробнее  →</a>
      </div>
    </div>
  </div>
</div>


<div class="partners">
  <div class="container">
      <div class="partners__wrapper">
    <a href="#" class="partner__first partner__img-mods">
      <img src="assets/img/partners/firstpartner.png">
    </a>
    <a href="#" class="partner__second partner__img-mods">
      <img src="assets/img/partners/secpartner.png">
    </a>
    <a href="#" class="partner__third partner__img-mods">
      <img src="assets/img/partners/thirdpartner.png">
    </a>
    <a href="#" class="partner__fourth partner__img-mods">
      <img src="assets/img/partners/fourthpartner.png">
    </a>
    </div>
  </div>
</div>

<div class="shop__sketch">
  <div class="container">
    <div class="shop__sketch-wrapper">
      <div class="sketch__text-block">
        <h1 class="sketch__h1-block">Simple скетчбук</h1>
        <p class="sketch__p-block">80 листов, твердая обложка, бумага  Fabriano 200 г/м2.
          Подойдет и для графики и для акварели. Для самых смелых творческих замыслов! </p>
        <a href="#" class="sketch__text-block-button">Каталог</a>
      </div>
      <div class="sketch__img-block">
        <img src="assets/img/sketch/sketchbook.png" alt="paper">
      </div>
    </div>
  </div>
</div>

<footer class="shop__footer">
    <div class="container">
      <div class="footer__wrapper">
        <a href="#" class="footer-logo">
          <div class ="footer-logo__circle logo__element">
          </div>
          <div class="footer-logo__company-name logo__element footer__logo-txt">
            simple
          </div>
          <div class="footer-logo__rectangle logo__element">
          </div>
          <div class="footer-logo__circle logo__element">
          </div>
        </a>
        <div class="footer__social-buttons">
          <a href="#" class="footer__social-button">
            <div class="footer__social-img">
              <img src="assets/img/footer/footer1.png" alt="soc_media">
            </div>
          </a>
          <a href="#" class="footer__social-button">
            <div class="footer__social-img">
              <img src="assets/img/footer/footer2.png" alt="soc_media">
            </div>
          </a>
          <a href="#" class="footer__social-button">
            <div class="footer__social-img">
              <img src="assets/img/footer/footer3.png" alt="soc_media">
            </div>
          </a>
          <a href="#" class="footer__social-button">
            <div class="footer__social-img">
              <img src="assets/img/footer/footer4.png" alt="soc_media">
            </div>
          </a>
        </div>
    </div>
  </div>
  <div class="simple__trade-mark">
    <a>SIMPLE <a class="trade-mark">®</a> 2021</a>
  </div>
</footer>
